.datacards .card{
    display:inline-block;
    margin-left: 4.5ch;
    margin-top: 4ch;
    box-shadow: 5px 5px 9px 9px gray;
}
.datacards .card .card-img-top{
    height: 290px;
    width: 285px;
}
.Favcards .card{
    display:inline-block;
    margin-left: 4.5ch;
    margin-top: 4ch;
    box-shadow: 5px 5px 9px 9px gray;
}
.Favcards .card .card-img-top{
    height: 290px;
    width: 285px;
}